.layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.form-box {
    background-color: #440c14;
    color: white;
    border: 1px solid #d8232e;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(1, 15, 26, 0.15) 0 2px 4px 3px;
    margin: 20px auto;
    padding: 5px 20px;
    width: 40vw;
    display: block;
}

/* Defining the form as a flex display */
form {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    color: #f4e7d0;
}

/* Adjusting margins and positioning of text on the form */
form h2 {
    margin-bottom: 5px;
    font-size: 1vw;
}

form label {
    font-size: 1vw;
    margin-bottom: 3px;
    margin-top: 10px;
    padding: 5px;
}

/* Input background box and text */
input {
    border-radius: 5px;
    border-width: 3px;
    font-size: 1vw;
    background-color: #02000c;
    color: white;
}

#submit {
    font-size: 1vw;
    margin-bottom: 10px;
    background-color: #78202d;
    color: #f4e7d0;
}

/* Display a message of error/success based on whether the input is valid or not */
form p {
    font-size: 1vw;
    margin: 10px 0;
    color: #eaafb7;
}
